<div class="row">
    <div class="col-md-12 m-3">
        <img
                src="http://cdn.clickme.net/Gallery/2014/07/02/79f94de5de9f547819156adc848a8031.jpg"
                alt="error" style="width: 10vw;">
        <strong class="ml-5">{{err}}</strong>
    </div>
</div>
